<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Hareketi Tanıma</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>

    body {
      background-image: url("{% static 'images/arkaplan.jpg' %}");
      background-repeat: no-repeat;
      background-position: center;
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 style="margin-bottom: 0">El Hareketi Tanıma</h1>
    <div class="video-container" style="margin-bottom: 0; margin-left:10.5">

      <video id="camera" autoplay playsinline style="width: 35%; height: 350%" style="margin-bottom: 0"></video>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button onclick="location.href='{% url 'foto_page' %}'" style="margin-bottom: 0; margin-right: 0">FOTO</button>

    </div>

    <div class="result-container" style="margin-top: 0">
      <div>
        <h2 style="margin-bottom: 0px">BGR to RGB</h2>
        <img id="resultImage2" alt="İşlenmiş Görüntü"  style="margin-bottom: 0"/>
      </div>
      <div>
        <h2 style="margin-bottom: 0px">Flipped</h2>
        <img id="resultImage3" alt="RGB Görüntü"  style="margin-bottom: 0"/>
      </div>
      <div>
        <h2 style="margin-bottom: 0px">Marker</h2>
        <img id="resultImage4" alt="Marker Görüntü"  style="margin-bottom: 0"/>
      </div>
    </div>

    <div class="tahmin" id="tahmin" style="margin-bottom: 0">Tahmin: -</div>

    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="{% static 'images/bant.png' %}" style="width: 90%; margin-bottom: 0">
    </div>
  </div>





  <script>
    async function startCamera() {
      const video = document.getElementById('camera');
      video.width = 640;
      video.height = 480;
      const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } });
      video.srcObject = stream;
    }

    async function captureAndSend() {
      const video = document.getElementById('camera');
      const canvas = document.createElement('canvas');
      canvas.width = video.width;
      canvas.height = video.height;
      const ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

      const imageData = canvas.toDataURL('image/jpeg');

      const response = await fetch('/process/', {
        method: 'POST',
        body: `image=${encodeURIComponent(imageData)}`,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      });

      if (response.ok) {
        const result = await response.json();
        document.getElementById('resultImage2').src = result.resultImage2;
        document.getElementById('resultImage3').src = result.resultImage3;
        document.getElementById('resultImage4').src = result.resultImage4;

        // Tahmin bilgisini ekliyoruz
        document.getElementById('tahmin').innerText = `Tahmin: ${result.tahmin}`;
      }

      setTimeout(captureAndSend, 100); // Tekrar çağır
    }

    startCamera();
    captureAndSend();
  </script>
</body>
</html>
